.contenedor-general {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    width: calc(100% - 300px);
    background-color: #ebebf3;
}

@media (max-width: 1024px){
    .contactos{
        width: calc(100% - 200px);
    }
}

@media (max-width: 824px){
    .contactos {
        padding: 2rem;
        width: 500px;
    }
}

@media (max-width: 768px){
    .contactos{
        width: 100%;
    }
}

@media (max-width: 646px){
    .contactos{
        width: 100%;
        padding: 5rem;
    }
}